Patient Name: <%= @name %> <br />
Patient DoB: <%= @date_of_birth %> <br/>
Patient Email: <%= @patient_email %> <br> <br/>
Doctor Email: <%= @doctor_email %> <br> <br/>

Summary: <br/>
<% @summary_content.split(/- /).each_with_index do |bullet_point, i| %>
  <% if i != 0 %>
    -
  <% end %>
  <%= bullet_point %> <br/>
<% end %> <br> <br/>

We hope that you find this helpful. <br/>  <br/>

Sincerely,  <br/>  <br/>

DocBot team <br/>
Feel free to <a href="https://docbot.tech/contact">contact us</a> with any questions or concerns!
