
<p>Hello <%= @assessment.patient_first_name %>,</p>

<p>You are receiving this notification because you took our Dyslexia test. Here are your results:</p>

<b>Speech Questions</b>
<table>
  <thead>
  <td>Answer</td>
  <td>Your Answer</td>
  </thead>
  <tbody>
      <% @assessment.speech_questions.each do |question| # todo - sorting? %>
        <tr>
          <td> <%= question.correct_answer %> </td>
          <td><%= question.answer %></td>
          <td><%= question.is_correct? ? 'Correct' : 'Incorrect'%></td>
        </tr>
      <% end %>
  </tbody>
</table>

<b>Eidetic Questions</b>
<table>
  <thead>
  <td>Answer</td>
  <td>Your Answer</td>
  </thead>
  <tbody>
      <% @assessment.eidetic_questions.each do |question| # todo - sorting? %>
        <tr>
          <td> <%= question.correct_answer %> </td>
          <td><%= question.answer %></td>
          <td><%= question.is_correct? ? 'Correct' : 'Incorrect'%></td>
        </tr>
      <% end %>
  </tbody>
</table>

<b>Phonetic Questions</b>
<table>
  <thead>
  <td>Answer</td>
  <td>Your Answer</td>
  </thead>
  <tbody>
  <% @assessment.phonetic_questions.each do |question| # todo - sorting? %>
    <tr>
      <td> <%= question.correct_answer %> </td>
      <td><%= question.answer %></td>
      <td><%= question.is_correct? ? 'Correct' : 'Incorrect'%></td>
    </tr>
  <% end %>
  </tbody>
</table>
